<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <div class="contact_wrapper">
        <h3 class= "text-center">Follow Our Social Media</h3>
        <ul class="list-inline">
          <li>
            <%= link_to "https://www.facebook.com/highway.rest.cafe", target: :_blank do %>
              <i class="fa fa-facebook-square" aria-hidden="true"></i>&nbsp;&nbsp;Facebook
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.instagram.com/highway_rest_cafe", target: :_blank do %>
              <i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;&nbsp;Instagram
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.snapchat.com/add/highway_cafe", target: :_blank do %>
              <i class="fa fa-snapchat-square" aria-hidden="true"></i>&nbsp;&nbsp;Snapchat
            <% end %>
          </li>
        </ul>
        <hr>
        <h3 class= "text-center">Our Phone Numbers</h3>
        <ul>
          <li>
            Irbid :&nbsp;&nbsp;<a id="tel" href="tel:0790219137">079-0219-137</a><br>
            Amman-st :&nbsp;&nbsp;<a id="tel" href="tel:0798032358">079-8032-358</a>
          </li>
        </ul>
        <hr>
        <h3 class= "text-center">For Suggestions & Bug Reports</h3>
        <p class="text-center">Contact Our Programmers</p>

          <!-- MOBILE -->
        <div class="hidden-sm hidden-md hidden-lg">
          <div class="text-center">
            <%= image_tag "Profile-Placeholder.png" , class: "avatar-circle-mob" %>
          </div>
          <h5 class="text-center">Mohammad F. Alali</h5>
          <p class="text-center">FullStack Web Developer</p>
          <p class="text-center">email@email.com</p>
        </div>

        <div class="hidden-sm hidden-md hidden-lg">
          <div class="text-center">
            <%= image_tag "Profile-Placeholder.png" , class: "avatar-circle-mob" %>
          </div>
          <h5 class="text-center">Khalid .A AbuBaker</h5>
          <p class="text-center">FullStack Web Developer</p>
          <p class="text-center">email@email.com</p>
        </div>

        <!-- DESKTOP -->
        <div class="developers hidden-xs">
          <%= image_tag "Profile-Placeholder.png" , class: "avatar-circle" %>
          <h5 class="dev-name">Mohammad F. Alali</h5>
          <p class="dev-job">FullStack Web Developer</p>
          <p class="dev-email">email@email.com</p>
        </div>

        <div class="developers-2 hidden-xs">
          <%= image_tag "Profile-Placeholder.png" , class: "avatar-circle" %>
          <h5 class="dev-name-2">Khalid .A AbuBaker</h5>
          <p class="dev-job-2">FullStack Web Developer</p>
          <p class="dev-email-2">email@email.com</p>
        </div>

      </div>
    </div>
  </div>
</div>






