<% content_for(:meta_title) do %>
  Contact Us | Highway Restaurant
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <div class="contact_wrapper">
        <h3 class= "text-center">Follow Our Social Media</h3>
          <div class="text-center">
            <ul class="list-inline">
              <li>
                <%= link_to "https://www.facebook.com/highway.rest.cafe", target: :_blank do %>
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>&nbsp;&nbsp;Facebook
                <% end %>
              </li>
              <li>
                <%= link_to "https://www.instagram.com/highway_rest_cafe", target: :_blank do %>
                  <i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;&nbsp;Instagram
                <% end %>
              </li>
              <li>
                <%= link_to "https://www.snapchat.com/add/highway_cafe", target: :_blank do %>
                  <i class="fa fa-snapchat-square" aria-hidden="true"></i>&nbsp;&nbsp;Snapchat
                <% end %>
              </li>
              <li>
                <%= link_to "https://twitter.com/Highway_rest", target: :_blank do %>
                  <i class="fa fa-twitter-square" aria-hidden="true"></i>&nbsp;&nbsp;Twitter
                <% end %>
              </li>
            </ul>
          </div>
        <hr>
        <h3 class= "text-center">Our Phone Numbers</h3>
        <div class="text-center">
          <ul>
            <li>
              Irbid :&nbsp;&nbsp;<a id="tel" href="tel:0790219137">079-0219-137</a><br>
              Amman-st :&nbsp;&nbsp;<a id="tel" href="tel:0798032358">079-8032-358</a>
            </li>
          </ul>
        </div>
        <hr>
        <h3 class="text-center">Our Locations</h3>
          <div id="map" style="height: 250px;"></div>
        <hr>
        <h3 class= "text-center">For Suggestions & Bug Reports</h3>
        <p class="text-center" style="margin-top: -30px; margin-bottom: 30px;">Contact Our Programmers</p>

          <!-- MOBILE -->
        <div class="hidden-sm hidden-md hidden-lg">
          <div class="text-center">
            <%= image_tag "asset2.JPG" , class: "avatar-circle-mob" %>
          </div>
          <h5 class="text-center">Mohammad F. Alali</h5>
          <p class="text-center">FullStack Web Developer</p>
          <p class="text-center"><a href="mailto:moe3l3ali@gmail.com">Moe3l3ali@gmail.com</a></p>
        </div>

        <div class="hidden-sm hidden-md hidden-lg">
          <div class="text-center">
            <%= image_tag "Profile-Placeholder.png" , class: "avatar-circle-mob" %>
          </div>
          <h5 class="text-center">Khalid A. AbuBaker</h5>
          <p class="text-center">FullStack Web Developer</p>
          <p class="text-center"><a href="mailto:khalidbkr.dev@gmail.com">khalidBKR.dev@gmail.com</a></p>
        </div>

        <!-- DESKTOP -->
        <div class="developers hidden-xs">
          <div class="dev-img-wrapper">
            <%= image_tag "asset2.JPG" , class: "avatar-circle responsive-img" %>
          </div>
          <div class="dev-info">
            <h5 class="dev-name">Mohammad F. Alali</h5>
            <p class="dev-job">FullStack Web Developer</p>
            <p class="dev-email"><a href="mailto:moe3l3ali@gmail.com">Moe3l3ali@gmail.com</a></p>
          </div>
        </div>

        <div class="developers hidden-xs">
          <div class="dev-img-wrapper">
            <%= image_tag "Profile-Placeholder.png" , class: "avatar-circle responsive-img" %>
          </div>
          <div class="dev-info">
            <h5 class="dev-name">Khalid A. AbuBaker</h5>
            <p class="dev-job">FullStack Web Developer</p>
            <p class="dev-email"><a href="mailto:khalidbkr.dev@gmail.com">khalidBKR.dev@gmail.com</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>






