<% content_for(:meta_title) do %>
  Menu | Highway Restaurant
<% end %>

<!-- DESKTOP MENU -->

<div class="menu-page-container hidden-xs">

  <div class="category-picker">

    <ul id="list-home-page">
      <li>
        <%= link_to "Meals", menu_pages_path(category: "meals"), class:"category-links" %>
      </li>
      <hr>
      <li>
        <%= link_to "Burgers", menu_pages_path(category: "burgers"), class:"category-links" %>
      </li>
      <hr>
      <li>
        <%= link_to "Sandwiches", menu_pages_path(category: "sandwiches"), class:"category-links" %>
      </li>
      <hr>
      <li>
        <%= link_to "Pizza", menu_pages_path(category: "pizza"), class:"category-links" %>
      </li>
      <hr>
      <li>
        <%= link_to "Sides", menu_pages_path(category: "sides"), class:"category-links" %>
      </li>
      <hr>
      <li>
        <%= link_to "Drinks", menu_pages_path(category: "drinks"), class:"category-links" %>
      </li>
    </ul>

  </div>

  <div class="menu-items">

      <div class="menu-items-container">

        <% @items.each do |item| %>

            <div class="white-menu-item-wrapper">
              <%= image_tag item.photo, class: "menu-item-image" %>
              <div id="card-hidden">
                <h4><strong><%= item.name %></strong></h4>
                <p><%= item.description %></p>
              </div>
              <h4 class="menu-item-name"><%= item.name %></h4>
              <h4 class="menu-item-price text-center"><%= item.price.to_f / 100 %> JD </h4>
              <%= link_to cart_path(item_id: item.id, category: params[:category]), class:"menu-item-cart", method: :post do %>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <% end %>
            </div>

        <% end %>
      </div>

  </div>

  <div class="cart-part">

    <h3 class="text-center">Ordering List</h3>
    <% if @items_list.count.zero? %>
      <div class="text-center cart-empty-des">
        <h5><small>Cart Is Empty</small></h5>
        <h5><small>add items by</small></h5>
        <h5><small> pressing the</small></h5>
        <h5><small><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;icon.</small></h5>
        <h5><small></small></h5>
      </div>
    <% else %>
      <table>
        <tr>
          <td><h6><small>amount&nbsp;&nbsp;</small></h6></td>
          <td><h6><small>item&nbsp;&nbsp;</small></h6></td>
          <td><h6><small>price</small></h6></td>
        </tr>
        <% @items_list.each do |item| %>
          <tr>
            <td><%= item[1][:count] %>&nbsp;&nbsp;</td>
            <td><%= item.first %>&nbsp;&nbsp;</td>
            <td><%= item[1][:price].to_f / 100 %>&nbsp;&nbsp;</td>
            <td>
              <div class="i-tag">
                <%= link_to remove_item_path(item_id: item[1][:id], category: params[:category]), method: :post do %>
                  <i class="fa fa-minus-circle" aria-hidden="true"></i>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>

    <br/>
    <% unless session[:items_ids].nil? || session[:items_ids].empty? %>
      <hr>
      <h3 class="text-center">Total   :&nbsp;&nbsp; <%= @bill.to_f / 100 %> JD</h3>
        <div class="menu-btns text-center">
          <% if current_user %>
            <%= link_to "Proceed", new_order_path(current_user), class: "btn-proceed" %>
          <% else  %>
            <%= link_to "Proceed", new_user_session_path, class: "btn-proceed" %>
          <% end %>


          <%= link_to "Clear Cart", clear_cart_path(category: params[:category]), method: :put, class: "btn-clear-cart"   %>
        </div>

    <% end %>

  </div>

</div>


<!-- MOBILE MENU -->
<div class="menu-page-container-mobile hidden-sm hidden-md hidden-lg">

  <div class="mobile-nav">
    <div class="dropdown dropdown-wrapper">

      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= params[:category] ||= "Meals" %>
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><%= link_to "Meals", menu_pages_path(category: "meals") %></li><hr>

        <li><%= link_to "Burgers", menu_pages_path(category: "burgers") %></li><hr>

        <li><%= link_to "Sandwiches", menu_pages_path(category: "sandwiches") %></li><hr>

        <li><%= link_to "Pizza", menu_pages_path(category: "pizza") %></li><hr>

        <li><%= link_to "Sides", menu_pages_path(category: "sides") %></li><hr>

        <li><%= link_to "Drinks", menu_pages_path(category: "drinks") %></li>

      </ul>
    </div>

    <div class="modal-wrapper">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Cart
        <% if @items_list.count > 0 %>
          <span class="counter"><%= @items_list.values.pluck(:count).inject(:+) %></span>
        <% end %>
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title text-center" id="myModalLabel">Ordering List</h4>
            </div>
            <div class="modal-body">

              <% if @items_list.count.zero? %>
                <div class="text-center empty-cart-mob">
                  <h5><small>Your Cart Is Empty</small></h5>
                  <h5><small>add items to your order</small></h5>
                  <i class="fa fa-smile-o" aria-hidden="true"></i>
                </div>
              <% else %>
                <table>
                  <tr>
                    <td><h6><small>amount&nbsp;&nbsp;</small></h6></td>
                    <td><h6><small>item&nbsp;&nbsp;</small></h6></td>
                    <td><h6><small>price</small></h6></td>
                  </tr>
                  <% @items_list.each do |item| %>
                    <tr>
                      <td><%= item[1][:count] %>&nbsp;&nbsp;</td>
                      <td><%= item.first %>&nbsp;&nbsp;</td>
                      <td><%= item[1][:price].to_f / 100 %>&nbsp;&nbsp;</td>
                      <td>
                        <div class="i-tag">
                          <%= link_to remove_item_path(item_id: item[1][:id], category: params[:category]), method: :post do %>
                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                          <% end %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </table>
              <% end %>


            </div>

            <% if @items_list.count.zero? %>
              <hr>
              <button type="button" data-dismiss="modal" class="btn btn-danger">Close</button>
            <% else %>
              <hr>
              <h3 class="text-center total-mob">Total   :&nbsp;&nbsp;<span><b><%= @bill.to_f / 100 %> JD</b></span></h3>


              <div class="modal-footer">
                <%= link_to "Proceed", new_order_path(current_user), class: "btn btn-primary proceed-mob" %>

                <div class="btns-mob-modal">
                  <div class="btn-modal">
                    <button type="button" data-dismiss="modal" class="btn btn-danger">Close</button>
                  </div>
                  <div class="clear-modal">
                    <%= link_to "Clear", clear_cart_path(category: params[:category]), method: :put, class: "btn btn-primary"   %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="menu-items-mobile">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <% @items.each do |item| %>
            <div class="white-menu-item-wrapper-mob">
              <div data-toggle="modal" data-target="#des-modal-<%= item.id %>">
                <%= image_tag item.photo, class: "menu-item-image-mob" %>
              </div>

              <h4 class="menu-item-name-mob"><%= item.name %></h4>
              <h4 class="menu-item-price-mob text-center"><%= item.price.to_f / 100 %> JD </h4>
              <%= link_to cart_path(item_id: item.id, category: params[:category]), class:"menu-item-cart-mob", method: :post do %>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <% end %>
            </div>

              <div class="modal des-modal fade" id="des-modal-<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title text-center" id="myModalLabel"><%= item.name %></h4>
                    </div>
                    <div class="modal-body-des">
                      <%= image_tag item.photo, class: "image-modal" %>
                      <hr>
                      <h4><small>Ingredients :</small></h4>
                      <p>
                        <%item.description.split("/").each do |des| %>
                          -&nbsp;&nbsp;<%= des %> <br>
                        <% end %>
                      </p>
                      <hr>

                        <h5 class="text-center">Price   :&nbsp;&nbsp;<span style="color:green;"><b><%= item.price.to_f / 100 %> JD</b></span></h5>
                      <hr>
                    </div>
                    <div class="modal-footer-des">
                      <div class="close-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                      <div class="add-footer">
                        <%= link_to cart_path(item_id: item.id, category: params[:category]), class:" btn ", method: :post do %>
                          Add <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
