<div class="wrapper-page-addresses">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center">Address book</h3>
        <div class="wrapper-addresses">
          <table>
            <% @addresses.each_with_index do |address, index| %>
            <tr>
              <td width="40%">
                  <%= "#{(index + 1)} - City: #{address.city}, Area: #{address.area}, Rd: #{address.road_name}, Level: #{address.floor}" %>
              </td>
              <td width="5%">
                <%= link_to edit_address_path(address) do %>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                <% end %>
              </td>
              <td width="5%">
                <%= link_to address_path(address), method: :delete, data: {confirm: "Are you sure?"} do %>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>

          <div class="no-addresses text-center">
            <% if @addresses.count.zero? %>
              <h4><small>You have no addresses yet !</small></h4>
              <h5><small>Add an address to place an order</small></h5>
            <% end %>
          </div>
        </div>

        <!-- DESKTOP LINKS -->
        <div class="hidden-xs">
          <%= link_to "Add Address", new_address_path, class:"address-add btn btn-primary" %>
          <%= link_to "New Order", menu_pages_path, class:"order-add btn btn-primary" %>
        </div>

        <!-- MOBILE LINKS -->
        <div class="address-mob-links hidden-sm hidden-md hidden-lg">
          <%= link_to "Add Address", new_address_path, class:"address-add-mob btn btn-primary" %>
          <%= link_to "New Order", menu_pages_path, class:"order-add-mob btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <table>
  <tr>
    <td>

    </td>
  </tr>
</table>

 -->
